.Todolist {
  width: 300px;
  height: auto;
}
.Input {
  display: block;
  justify-content: center;
  margin: 10px 50px;
}

.List {
  width: 300px;
  padding: 10px 0;
  flex-shrink: 1;
  flex-wrap: wrap;
}

@media (min-width: 500px) {
  .Todolist {
    width: auto;
  }
}
