.ListItem {
  display: flex;
  padding: 5px;
  margin: 5px auto;
  justify-content: center;
  width: auto;
  border: 1px solid black;
}

.TaskBoxStyle {
  margin: 5px;
}

.DescriptionBoxStyle {
  margin: 5px auto;
}

.ListItem button {
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  margin: 2px 50px;
}

.ListItem p {
  border: 2px solid black;
  padding: 1px;
  margin: 1px;
  text-align: center;
}
